services:
  traefik:
    container_name: traefik
    image: traefik:v3.6
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config/traefik.yaml:/etc/traefik/traefik.yaml:ro
    networks:
      - proxy_network
    restart: unless-stopped
networks:
  proxy_network:
    external: true
